footer {
    text-align: center;
}

.hr_footer {
    width: 75%;
}

.hr_header {
    width: 85%;
}

#homepage {
    text-align: center;
}

#siteTitle {
    text-align: center;
}



#homepageimage {
    margin: 0 auto;
    display: block;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 11px;
    color: blue
}

nav a:hover {
    font-size: 2.0em;
    transition: .4s;
}

#mainpage {
    text-align: center;
    margin: 0 auto;
}

.content {
    float: left;
}

.link {
    text-align: center;
    margin: 0 auto;  
}

#row {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    display: flex;

}