.images {
    width: 500px;
    height: 235px;
    display: table-cell;
    text-align: center;
    color: white;
}

 img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

img:hover{
    width: 120%;
    height: 120%;
}

#content {
    width: 500px;
    padding: 0;
    margin: 0;
    display: table;
    margin: 0 auto;
}

body {
    background: black;
}

hr {
    width: 75%;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Permanent Marker',cursive;    
}
